@media (max-width : 425px) {
    .container1{
        position: relative !important;
        left: 15% !important;
    }
    .container{
        width: 100%;
        text-align: center;
        width: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .image{
        display: none !important;
    }
    .btns{
        display: flex;
        flex-direction: column;
    }
    .selectedVideoSection{
        width: 100% !important;

    }
    .form_element{
        width: 90%;
    }
 
}